@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

body {
	font-family: 'Noto Sans JP', sans-serif;
	padding: 0 2%;
	margin: 0;
	color: #fff;
}

body {
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/18134.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	max-width: -200px;
}
nav .profile h1 {
	margin-left: 10px;
	font-size: 20px;
}
nav ul {
	display: flex;
	list-style-type: none;
    margin-left: 50%;
    font-size: 20px;
}
nav ul li {
	margin-left: 30px;
	cursor: pointer;
	margin-top: 4%;
}

li a {
	color: #ffffff;
}

.page-content {
	margin: 4%;
}

.page-content header {
	margin-top: 5%;
	max-width: 80%;
	color: #fff;
}

.page-content header h1 {
	margin: 0;
	text-transform: uppercase;
	font-size: 3vw;
	color: #fff;
    font-size: 35px;
}

.page-content header p {
	line-height: 30px;
	color: rgb(255, 255, 255)
}

.projects-section .presentation-image {
	margin-left: 350px; 
	width: 10%;
}

.projects-section .presentation-image2 {
	margin-left: 600px; 
	width: 10%;
}

.page-content header button {
	background-color: inherit;
	border: none;
	outline: none;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #ffffff;
	cursor: pointer;
}

.page-content .description-bts {
    margin-top: -36%;
    max-width: 60%;
    line-height: 30px;
	color: #fff;
    font-weight: normal;
}

.page-content .description-bts div {
    margin-top: -2%;
    margin-bottom: 3%;
}

.page-content .description-bts2 {
    margin-top: 10%;
    margin-left: 70%;
}
 
.page-content .projects-section {
	margin-top: 6%;
	color: #fff;
}

.page-content .projects-section h1 {
    text-transform: uppercase;
	font-size: 3vw;
	color: #ffffff;
    font-size: 40px;
    text-decoration: underline;
    font-size: 30px;
    margin-left: 0%;
	margin-top: 8%;
}

.page-content .projects-section .project h4 {
	margin-bottom: 5px;
    margin-left: 1%;
	color: #fff;
    display: list-item;
	font-size: 22px;
}

.page-content .projects-section .project .description {
	font-size: 13px;
	color: #fff;
	font-size: 18px;
}

.bouton a {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 10px;
	margin-left: 1500px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bouton a:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

footer {
	margin-top: 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color: #000;
	color: white;
}
footer .colonne p {
	font-size: 12px;
	color: #ccc;
	cursor: pointer;
}
footer .colonne p:hover {
	color: #fff;
}